<div>
<h1>
    <%= (character.name) %>
    <span style="font-size: 12px"><a href="">add to team</a></span>
</h1>
</div>

<div style="font-style: italic">
    <% if (randomQuote.length > 0) { %>
        "<%= randomQuote %>"
    <% } %>
</div>

<br />
<div>
    <% if (character.gender) { %>
        gender: <%= character.gender %>
    <% } else { %>
        gender: unknown
    <% } %>
</div>
<div>
    <% if (character.birth) { %>
        birth: <%= character.birth %>
    <% } else { %>
        birth: unknown
    <% } %>
</div>
<div>
    <% if (character.height) { %>
        height: <%= character.height %>
    <% } else { %>
        height: unknown
    <% } %>
</div>
<div>
    <% if (character.hair) { %>
        hair: <%= character.hair %>
    <% } else { %>
        hair: unknown
    <% } %>
</div>
<div>
    <% if (character.spouse) { %>
        spouse: <%= character.spouse %>
    <% } else { %>
        spouse: unknown
    <% } %>
</div>
<div>
    <% if (character.death) { %>
        death: <%= character.death %>
    <% } else { %>
        death: TBD
    <% } %>
</div>
<div>
    more: <a href="<%= character.wikiUrl %>">wiki</a>
</div>

<br />
<br />

<div>
    <a href="/characters"> < back </a>
</div>