<h1><%= team.name %></h1>

<% if (team.comment) { %>
    <p><%= team.comment %></p>
<% } %>

<% teammates.forEach(teammate => { %>
    <div>
        <h4>
            <a href="/characters/<%= teammate.charId %>"><%= teammate.name %></a>
        </h4>
        <form action="/team/deleteTeammate/<%= teammate.id %>/?_method=DELETE" method="POST">
            <input type="submit" value="remove">
        </form>
    </div>
<% }) %>

<% if (!team.comment) { %>
    <form action="/team/<%= team.name %>/?_method=PUT" id="teamDescription" method="POST">
        <label for="teamFlavor">About This Fellowship:</label>
        <div>
            <textarea name="teamDescription" id="teamFlavor" form="teamDescription" cols="30" rows="10" placeholder="You have been chosen..."></textarea>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
<% } %>

<br />

<div>
    <a href="/team">< team</a>
</div>