<h1><%= team.name %></h1>

<% teammates.forEach(teammate => { %>
    <div>
        <h4>
            <a href="/characters/<%= teammate.charId %>"><%= teammate.name %></a>
        </h4>
        <form action="/team/teammate/<%= teammate.id %>/?_method=DELETE" method="POST">
            <input type="submit" value="remove">
        </form>
    </div>
<% }) %>

<h5>About This Fellowship:</h5>
<% if (team.comment) { %>
    <p><%= team.comment %></p>
    <form action="/team/remove/comment/<%= team.id %>/?_method=PUT" method="POST">
        <input type="submit" value="delete">
    </form>
<% } %>
<% if (!team.comment) { %>
    <form action="/team/comment/<%= team.id %>/?_method=PUT" id="teamDescription" method="POST">
        <div>
            <textarea name="teamDescription" id="teamFlavor" form="teamDescription" cols="30" rows="10" placeholder="You have been chosen..."></textarea>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
<% } %>

<br />

<div>
    <a href="/team">< team</a>
</div>